<div *ngIf="user">
    <div style="padding:10px;">
      <label>Name: </label>
      <input [(ngModel)]="tempUser.name" [value]="user.name">
      <br>
    </div>
    <div style="padding:10px;">
      <label>Lastname: </label>
      <input [(ngModel)]="tempUser.lastname" [value]="user.lastname">
      <br>
    </div>

    <form>
      <div>
        <label>Select permissions:</label>
        <br>
        <select multiple [(ngModel)]="permissions" name="values">
          <option *ngFor="let value of values" [value]="value">{{value}}</option>
        </select>
      </div>
      <br>
      <div>
          Selected:
          <ul>
            {{permissions}}
          </ul>
      </div>
    </form>

    <div style="padding:10px;">
      <label>Password: </label>
      <input type="password" [(ngModel)]="password">
    </div>
    <button (click)="updateUser()">Update user</button>
</div>