<label>Name </label>
<input type="text" [(ngModel)]="name"><br><br>


<form>
  <div>
    <label>Status:</label>
    <br>
    <select multiple [(ngModel)]="status" name="values">
      <option *ngFor="let value of values" [value]="value">{{value}}</option>
    </select>
  </div>
  <br>
</form>

<label>Date from:</label>
<input [(ngModel)]="dateFrom" type="date">

<label>Date to:</label>
<input [(ngModel)]="dateTo" type="date">

<button (click)="filterMachines()">Filter machines</button>
<button (click)="getMachines()">Reset filters</button>

<div [innerHtml]="htmlToAdd"></div>

<table>
    <thead>
      <tr>
        <th>Options</th>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Created by</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let machine of machines">

        <button *ngIf="machine.status=='STOPPED'" (click)="deleteMachine(machine.id)">Deactivate</button>
        <button *ngIf="machine.status=='STOPPED'" (click)="scheduleJob(machine.id, 'start')">Start</button>
        <button *ngIf="machine.status=='RUNNING'" (click)="scheduleJob(machine.id, 'stop')">Stop</button>
        <button *ngIf="machine.status=='RUNNING'" (click)="scheduleJob(machine.id, 'restart')">Restart</button>
        <td>{{machine.id}}</td>
        <td>{{machine.name}}</td>
        <td>{{machine.status}}</td>
        <td>{{machine.createdBy.email}}</td>
      </tr>
    </tbody>
</table>

<p>Schedule time format is: "11.2 15:35". It represents 11th of February at 3PM and 35 minutes</p>
<p>Enter your wanted time and click on a job you want</p>
<textarea [(ngModel)]="scheduleTime"></textarea>